.about{
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    background-color: #222;
    padding-bottom: 60px;
    
}

.text{
    color: white;
    padding-top: 60px;
    max-width: 650px;
    font-size: 1.04em;
    text-align: justify;
    margin: auto;
    text-indent: 4em;
    line-height: 1.6em;
}
.about a{
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: .6s;
}
.about a:hover{
    color: aqua;
    text-decoration: underline;
}