@font-face {
    font-family: pokemonHollow;
    src: url(../asset/fonts/pokemon/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family: pokemonSolid;
    src: url(../asset/fonts/pokemon/Pokemon\ Solid.ttf);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    padding: 20px;
}
.title{
    font-family: 'pokemonHollow';
    font-size: 3.0em;
    
}
.title span{
    color: #D60807;
    margin-right: 0.4em;
}
